# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.vscode
.DS_Store
*.pyc
*.pyo
env/
.env
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
__pycache__/
# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
# dependencies
/venv
/node_modules
/.pnp
.pnp.js

#linting
.eslintrc.json
.prettierrc

# testing
/coverage

# production
/build

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# "in theory" you'd hide sendgrid info
sendgrid.env

# Too messy for now
migrations/

# hide uploads
UPLOAD_FOLDER/
